{% extends "conteneur.html" %}
{% block titre %}
ThesauRusse
{%endblock%}

{% block corps %}
<div>
    <h1>Bienvenue sur le ThesauRusse </h1>
    <h2 style="text-align: center;">Le projet sur les écrivains russes à Paris</h2>
</div>
<div class="description">
    <p>
        Vous pourrez trouver ici les informations telles que l’endroit où ils
        ont habité, quels œuvres ont été écrites à ces adresses et quand.
    </p>
    <p>
        Je me suis concentrée en premier temps sur les années 1920 - 1940 – la
        première vague d’immigration russe dite blanche – et j’ai choisi 17
        auteurs qui me paraissent les plus représentatives pour cette période.
    </p>
    <p>
        Dans le futur, je compte pouvoir compléter mes données avec plus de 100
        ecrivains et élargir la carte à toute la France. Si vous voulez
        contribuer au projet, n'hésitez pas à me contacter par mail à l’adresse:
    </p>
    <p>
        <a href="mailto:kristina.konstantinova@chartes.psl.eu">
            kristina.konstantinova@chartes.psl.eu
        </a>
    </p>
    <p>
        <b>Merci ! Спасибо !</b>
    </p>
</div>

<img class="photo-accueil" src="static/img/Plan de Paris.jpg"/>
{%endblock%}
