{% extends "conteneur.html" %}
{%block corps%}
<h1>Écrivains</h1>

<form class="suppression" action="{{ url_for('ajout_ecrivain', ecrivain_id=ecrivain.ecrivain_id) }}" method="post">
    <div class="column">
        <input class="theInputs" type="submit" value="Ajouter">
    </div>
</form>

<h2>Liste</h2>
<ul>
    {% for ecrivain in ecrivains %}
    <li>
        <a href="{{ url_for('ecrivain', ecrivain_id=ecrivain.ecrivain_id) }}">
            {{ecrivain.ecrivain_prenom}}
            {{ecrivain.ecrivain_nom}}
            ({{ecrivain.ecrivain_date_naissance}}
            - {{ecrivain.ecrivain_date_mort}})
        </a>
    </li>
    {% endfor %}
</ul>
<img class="portrait" src="static/img/portrait groupe.jpg"/>

{%endblock%}
{%block  titre%}
{{ecrivains.ecrivain_prenom}} {{ecrivains.ecrivain_nom}}
{%endblock%}

