{% extends "conteneur.html" %}
{%block corps%}
<h1>Index</h1>

<div class="index">
    {% if adresses %}
    <table class="table-index">
        <tr>
            <th>
                Adresses
            </th>
        </tr>
        {% for adresse in adresses %}
        <tr>
            <td>
                <a href="{{ url_for('adresse', adresse_id=adresse.adresse_id) }}">
                    {{ adresse.adresse_rue }}, {{ adresse.adresse_commune }}
                    {% if adresse.adresse_arrondissement %}
                    {{ adresse.adresse_arrondissement }}
                    {% endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if ecrivains %}
    <table class="table-index">
        <tr>
            <th>
                Écrivains
            </th>
        </tr>
        {% for ecrivain in ecrivains %}
        <tr>
            <td>
                <a href="{{ url_for('ecrivain', ecrivain_id=ecrivain.ecrivain_id) }}">
                    {{ ecrivain.ecrivain_prenom }} {{ ecrivain.ecrivain_nom }}
                    ({{ ecrivain.ecrivain_date_naissance }}
                    - {{ ecrivain.ecrivain_date_mort }})
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if oeuvres %}
    <table class="table-index">
        <tr>
            <th>
                Oeuvres
            </th>
        </tr>
        {% for oeuvre in oeuvres %}
        <tr>
            <td>
                <a href="{{ url_for('oeuvre', oeuvre_id=oeuvre.oeuvre_id) }}">
                    {{ oeuvre.oeuvre_titre_russe }}, {{ oeuvre.oeuvre_titre_francais }}
                    ({{ oeuvre.oeuvre_date }})
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{%endblock%}
{%block titre%}
{%endblock%}