{% extends "conteneur.html" %}
{%block corps%}
<h1>Résultats de la recherche</h1>
{% if resultats_ecrivain %}
<h2>Écrivains</h2>
{%for resultat in resultats_ecrivain%}
<li>
    <a href="{{ url_for('ecrivain', ecrivain_id=resultat.ecrivain_id) }}">
        {{resultat.ecrivain_prenom}} {{resultat.ecrivain_nom}} ({{resultat.ecrivain_date_naissance}} - {{resultat.ecrivain_date_mort}})
    </a>
</li>
{%endfor%}
{%endif%}
{% if resultats_oeuvre %}
<h2>Oeuvres</h2>
{%for resultat in resultats_oeuvre%}
<li>
    <a href="{{ url_for('oeuvre', oeuvre_id=resultat.oeuvre_id) }}">
        {{resultat.oeuvre_titre_russe}}, {{resultat.oeuvre_titre_francais}} ({{resultat.oeuvre_date}})
    </a>
</li>
{%endfor%}
{%endif%}
{% if resultats_adresse %}
<h2>Adresses</h2>
{%for resultat in resultats_adresse%}
<li>
    <a href="{{ url_for('adresse', adresse_id=resultat.adresse_id) }}">
        {%if resultat.adresse_arrondissement%}
        {{resultat.adresse_rue}}, {{resultat.adresse_commune}}, {{resultat.adresse_arrondissement}}, {{resultat.adresse_date}}
        {%else%}
        {{resultat.adresse_rue}}, {{resultat.adresse_commune}}, {{resultat.adresse_date}}
        {%endif%}
    </a>
</li>
{%endfor%}
{%endif%}
{%endblock%}
{%block titre%}
{% set nb_resultats = resultats_ecrivain|length + resultats_oeuvre|length + resultats_adresse|length %}
{{ nb_resultats }} resultat{% if nb_resultats > 1 %}s{%endif%}
{%endblock%}