{% extends "conteneur.html" %}
{%block corps%}

<h1>Ajouter un écrivain</h1>

<div id="formContainer" class="contenu">
    <form id="formC" action="{{ url_for('envoi_ecrivain') }}" method="post">
        <div class="rows">
            <div class="column">
                <label class="theLabels" for="prenom">
                    Prénom
                </label>
                <input class="theInputs" type="text" id="prenom" name="Prenom" placeholder="prénom">
            </div>

            <div class="column">
                <label class="theLabels" for="nom">
                    Nom
                </label>
                <input class="theInputs" type="text" id="nom" name="Nom" placeholder="nom">
            </div>

            <div class="column">
                <label class="theLabels" for="datenaissance">
                    Année de naissance
                </label>
                <input class="theInputs" list="annees-naissance" id="datenaissance" name="Naissance" placeholder="année de naissance">
                <datalist id="annees-naissance">
                    {% for annee in range(1800, 1951) %}
                    <option value="{{ annee }}">
                    {%endfor%}
                </datalist>
            </div>

            <div class="column">
                <label class="theLabels" for="datemort">
                    Année de décès
                </label>
                <input class="theInputs" list="annees-mort" id="datemort" name="Mort" placeholder="année du décès">
                <datalist id="annees-mort">
                    {% for annee in range(1900, 2000) %}
                    <option value="{{ annee }}">
                    {%endfor%}
                </datalist>
            </div>
            <div class="column">
                <input class="theInputs" type="submit" value="Envoyer">
            </div>
        </div>
    </form>
</div>
{%endblock%}

{%block titre%}
Ajouter un écrivain
{%endblock%}
